.login-container{
    .login-text{
        height: 100px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: #106BA7;
        font-size: var(--font-size-heading-1);
    }

    .login-form{
        label{
            font-family: "Montserrat", sans-serif;
        }

        input{
            font-family: "Montserrat", sans-serif;
            border-radius: 0;
        }

        button{
            font-family: "Montserrat", sans-serif;
            background-color: #032A45;
            color:#f3f3f3;
            font-size:13px;
            border-radius: 0;
            width: 100px;
            border: none;
        }

        button:hover{
            background-color: #106BA7;
        }
    }
}